.logo{
   
        width: 180px;
        height: 180px;
        border-radius: 50%;
        object-fit: cover;
        margin-left: 2%;

}
.slds-box {
    padding: 1rem;
    border: 1px solid green;
    margin: 1rem 0rem;
}

/* .slds-theme_default {
    background-color: #f5f7f9;
}

.slds-text-color_success {
    color: #04844b;
}

.slds-text-color_weak {
    color: #706e6b;
}

.slds-text-align_center {
    text-align: center;
}

.slds-p-around_medium {
    padding: 1rem;
}

.slds-m-bottom_medium {
    margin-bottom: 1rem;
}

.slds-m-vertical_large {
    margin: 2rem 0rem;
}

.slds-m-top_medium {
    margin-top: 1rem;
}

.slds-text-heading_large {
    font-size: 2rem;
    font-weight: bold;
}

.slds-text-heading_medium {
    font-size: 1.5rem;
    font-weight: bold;
}

.slds-text-body_regular {
    font-size: 1rem;
} */
