.lightning-accordion-section {
    background-color: #5874C5; 
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  /* Style for the content inside the accordion */
  .lightning-accordion-section-content {
    background-color: red; 
    border-radius: 0 0 5px 5px;
    padding: 15px;
  }
  
  
  p {
    color: #414141;
  }